{# Copyright (c) Microsoft Corporation. #}
{# Licensed under the MIT license. #}

#include <cuda.h>
#include <stdio.h>
#include <stdlib.h>
#include <stdint.h>
#include <cstring>
#include <fstream>
#include <iostream>

using namespace std;

#define checkCudaErrors(func) {                                                     \
    cudaError_t e = (func);                                                         \
    if (e != cudaSuccess)                                                           \
        fprintf(stderr, "%s %d CUDA: %s\\n", __FILE__,  __LINE__, cudaGetErrorString(e));    \
}

template <typename T>
void loadArr(string filepath, T *__restrict__ arr, int size) {
    ifstream inputFile(filepath);
    inputFile.read((char*)arr, size * sizeof(T));
}

template <typename T>
int getArrLength(string filepath) {
    ifstream inputFile(filepath);
    inputFile.seekg(0, inputFile.end);
    return inputFile.tellg() / sizeof(T);
}

{{ KERNEL_FUNC_BODY }}

int main(int argc, char** argv) { // iteration number, correction check
    const int nWarm = argc > 1 ? atol(argv[1]) : 10;
    const int nIter = argc > 2 ? atol(argv[2]) : 10;
    const int checkResults = argc > 3 ? atol(argv[3]) : 1;

{% for INPUT in INPUTS %}
    int size_{{ INPUT.name }} = getArrLength<{{ INPUT.type }}>("{{ INPUT.filepath }}");
    int mem_size_{{ INPUT.name }} = sizeof({{ INPUT.type }}) * size_{{ INPUT.name }};
    {{ INPUT.type }}* h_{{ INPUT.name }} = ({{ INPUT.type }}*)malloc(mem_size_{{ INPUT.name }});
    loadArr<{{ INPUT.type }}>("{{ INPUT.filepath }}", h_{{ INPUT.name }}, size_{{ INPUT.name }});
    {{ INPUT.type }}* d_{{ INPUT.name }};
    checkCudaErrors(cudaMalloc(&d_{{ INPUT.name }}, mem_size_{{ INPUT.name }}));
    checkCudaErrors(cudaMemcpy(d_{{ INPUT.name }}, h_{{ INPUT.name }}, mem_size_{{ INPUT.name }}, cudaMemcpyHostToDevice));
{% endfor %}

{% for OUTPUT in OUTPUTS %}
    int size_{{ OUTPUT.name }} = getArrLength<{{ OUTPUT.type }}>("{{ OUTPUT.filepath }}");
    int mem_size_{{ OUTPUT.name }} = sizeof({{ OUTPUT.type }}) * size_{{ OUTPUT.name }};
    {{ OUTPUT.type }}* h_{{ OUTPUT.name }}_tgt = ({{ OUTPUT.type }}*)malloc(mem_size_{{ OUTPUT.name }});
    loadArr<{{ OUTPUT.type }}>("{{ OUTPUT.filepath }}", h_{{ OUTPUT.name }}_tgt, size_{{ OUTPUT.name }});
    {{ OUTPUT.type }}* d_{{ OUTPUT.name }};
    checkCudaErrors(cudaMalloc(&d_{{ OUTPUT.name }}, mem_size_{{ OUTPUT.name }}));
{% endfor %}

    cudaEvent_t start, stop;
    checkCudaErrors(cudaEventCreate(&start));
    checkCudaErrors(cudaEventCreate(&stop));
    float msecTotal = 0;

    const dim3 dimBlock({{ DIM_BLOCK|join(', ') }});
    const dim3 dimGrid({{ DIM_GRID|join(', ') }});

    // warm-up
    for (int run = 0; run < nWarm; run++) {
        {{ KERNEL_FUNC_NAME }}<<<dimGrid, dimBlock>>>(
            d_{{ INPUTS|join(', d_', attribute='name') }},
            d_{{ OUTPUTS|join(', d_', attribute='name') }}
        );
    }

    checkCudaErrors(cudaEventRecord(start));
    for (int run = 0; run < nIter; run++) {
        {{ KERNEL_FUNC_NAME }}<<<dimGrid, dimBlock>>>(
            d_{{ INPUTS|join(', d_', attribute='name') }},
            d_{{ OUTPUTS|join(', d_', attribute='name') }}
        );
    }

    checkCudaErrors(cudaEventRecord(stop));
    checkCudaErrors(cudaEventSynchronize(stop));
    checkCudaErrors(cudaEventElapsedTime(&msecTotal, start, stop));
    float msecPerMatrixMul = msecTotal / nIter;
    fprintf(stdout, "%f", msecPerMatrixMul);

    double eps = 1.e-4;

{% for OUTPUT in OUTPUTS %}
    {{ OUTPUT.type }}* h_{{ OUTPUT.name }} = ({{ OUTPUT.type }}*)malloc(mem_size_{{ OUTPUT.name }});
    checkCudaErrors(cudaMemcpy(h_{{ OUTPUT.name }}, d_{{ OUTPUT.name }}, mem_size_{{ OUTPUT.name }}, cudaMemcpyDeviceToHost));
    if (checkResults) {
        for (int i = 0; i < size_{{ OUTPUT.name }}; i++) {
            float result = (float)h_{{ OUTPUT.name }}[i];
            float target = (float)h_{{ OUTPUT.name }}_tgt[i];
            float abs_err = abs(result - target);
            if (abs_err > eps) {
                fprintf(stderr, "Error on {{ OUTPUT.name }}[%d]: ", i);
                fprintf(stderr, "result=%f, target=%f, abs_err=%f\n", result, target, abs_err);
                break;
            }
        }
    }
{% endfor %}

{% for INPUT in INPUTS %}
    cudaFree(d_{{ INPUT.name }});
    free(h_{{ INPUT.name }});
{% endfor %}

{% for OUTPUT in OUTPUTS %}
    cudaFree(d_{{ OUTPUT.name }});
    free(h_{{ OUTPUT.name }}_tgt);
    free(h_{{ OUTPUT.name }});
{% endfor %}
}